@{
    ViewBag.Title = "OffWork Management";
}
<div class="text-center alert alert-dark">
    <h1 class="display-4">OffWork Management Tool</h1>
    <p class="lead">A simple and easy tool to manage employees absence from work.</p>
</div>
<div class="jumbotron">
    <h3>Details about:</h3>
    <ul>
        <li>
            <p>All Employees</p>
        </li>
        <li>
            <p>Manage OffWorks</p>
        </li>
    </ul>
</div>
<div class="row"></div>
